POSTGRES_DB=cargopulse
POSTGRES_USER=cargopulse
POSTGRES_PASSWORD=cargopulse
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC=shipment-events

GCP_PROJECT_ID=
BIGQUERY_DATASET=cargopulse
GOOGLE_APPLICATION_CREDENTIALS=
